.flexbox-container {
    display: flex;

    /* flex Direction :flex-direction property defines in which direction the container wants to stack the flex items*/
     
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    /* flex-direction: column; */
   
    /* justify-content:  property is used to align the flex items */

    /* justify-content:center; */
    /* justify-content:space-between; */
    /* justify-content: space-around; */
    /* justify-content:space-evenly; */
    /* justify-content:stretch; */
    /* justify-content:flex-start; */
    /* justify-content:flex-end; */
    
    /* align-items property is used to align the flex items */

    height: 200px;

    /* align-items:flex-start; */
    align-items: center;
    /* align-items:end; */
    /* align-items:stretch; */
    /* align-items: baseline; */
    
    /* wrap: value specifies that the flex items will wrap if necessary */

    /* flex-wrap: wrap; */
    /* flex-wrap: nowrap; */
    flex-wrap: wrap-reverse;

    /* flex-flow property is a shorthand property for setting both the flex-direction and flex-wrap properties */

    /* flex-flow:row wrap; */


    align-self: flex-start;
    /* flex-flow: column wrap; */
    /* flex: 1 1 300px; */
    /* flex-shrink: 3; */

    

    background-color: rgb(127, 59, 253);
}


.flex-item {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flexbox-item-1 {
    background-color: rgb(61, 49, 233);
    border: 2px solid black;
    align-self: flex-start;
    /* flex: 1 1 300px; */
    /* flex-grow: 3; */
    /* order: 8; */
}

.flexbox-item-2 {
    background-color: rgb(28, 241, 178);
    border: 2px solid black;
    /* flex: 1 1 300px */
    /* flex-shrink: 3; */
    /* flex-grow: 3; */
    /* order: 2; */
}

.flexbox-item-3 {
    background-color: rgb(238, 156, 34);
    border: 2px solid black;
    align-self: flex-end;
    /* flex: 1 1 300px */
    /* flex-grow: 3; */
    /* order: 4; */
}

.flexbox-item-4 {
    background-color: rgb(100, 243, 4);
    border: 2px solid black;
    /* order:3; */
}

.flexbox-item-5 {
    background-color: rgb(241, 28, 63);
    border: 2px solid black;
    align-self: flex-start;
}

.flexbox-item-6 {
    background-color: rgb(17, 226, 198);
    border: 2px solid black
}

.flexbox-item-7 {
    background-color: rgb(197, 16, 152);
    border: 2px solid black;
    align-self: flex-end;
}

.flexbox-item-8 {
    background-color: rgb(216, 236, 37);
    border: 2px solid black;
}

.flexbox-item-9 {
    background-color: rgb(3, 63, 45);
    border: 2px solid black;
    align-self: flex-start;
}